{%extends 'navbar.html'%}
{% load static %}
{%block content%}
<div class="text-center">
    <h2>Update Student Data!</h2>
    <form method="post">
        <div class="container bg-light">
            {%csrf_token %}
            <br><br>
            <label for="name"><b>Enter Student ID you want to delete</b></label>
            <input type="text" placeholder="Enter ID" name="stdid" required>
            <br><br>
            <button type="submit" class="btn btn-danger">Delete</button>
            <br><br>
        </div>
    </form>
</div>
{%endblock%}